
.hero-container {
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("../assets/images/trivia.png");
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.hero-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
    text-align: center;
}

.hero-container > h2 {
    color: #fff;
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.hero-container > p {
    margin-top: 15px;
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 960px) {
    .hero-container > h1 {
        font-size: 70px;
        margin-top: -150px;
    }

    .hero-container > h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .hero-container > p {
        font-size: 20px;
    }
}
