.profile{
    width: 100%;
    margin: auto;
    padding-top: 1rem;
    position: center;
}

.sign-out{
    margin-top: 4rem;
}

.sign-out h3{
    text-align: center;
}

.sign-out-btn{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
