.sign-in-container {
    margin-top: 1rem;
    width: 100%;
    height: 50vh;
    position: relative;
}

.sign-in-container .content {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
}

.input{
    margin-bottom: 1rem;
}
