
html {
  /* Create a base font size that is inherited for elements on the page. */
  font-size: 20px;
  /* Ditto for the font-family. */
  font-family: "PT Sans", sans-serif;
}

/* Force all elements to inherit the font-family. Some elements (like button) don't inherit by
default. */
* {
  font-family: inherit;
}

body{
  background: url("assets/images/memphis-colorful-dim.png");
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
  background: #0171BCFF;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  color: white;
  border: 4px solid #003D66FF;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background: hsl(204, 100%, 31%);
}

button:active {
  background: hsl(204, 100%, 24%);
}

button:disabled {
  opacity: 0.8;
}

input {
  font-size: 0.75rem;
}

label {
  margin-right: 0.5rem;
}
